<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="initial-scale=1.0,user-scalable=no,maximum-scale=1,width=device-width" />
		<meta http-equiv="X-UA-Compatible" content="ie=edge" />

		<script src="/wwwroot/lib/jquery/dist/jquery.min.js"></script>
		<script>
			$(function () {
				var includes = $("[data-include]");
				jQuery.each(includes, function () {
					var file = "/Publishing/Views/_includes/" + $(this).data("include") + ".html";
					$(this).load(file);
				});
			});
		</script>

		<title>Inspection</title>
	</head>

	<body>
		<div data-include="head"></div>

		<div id="inspection">
			<div class="container">
				<img src="/images/inspection.png" alt="inspection" />
				<p>The server is undergoing maintenance.</p>
				<button type="button" class="g-btn" onclick="location.href='/Publishing/Views/work/index.html'">Go to home</button>
			</div>
		</div>

		<script type="text/javascript">
			$(function () {});
		</script>
	</body>
</html>
