<div id="inspection">
	<div class="container">
		<img src="/images/inspection.png" alt="inspection" />
		<p>The server is undergoing maintenance.</p>
		<button type="button" class="g-btn btnHome">홈</button>
	</div>
</div>