<div id="passwordComplete">
	<div class="g-container">
		<div class="small-containerCover">
			<div class="container">
				<h1 class="g-pageTitle">find password</h1>
				<p>비밀번호 재설정이 완료되었습니다.</p>
				<button type="button" class="g-btn btnHome">홈</button>
			</div>
		</div>
	</div>
</div>