<div id="passwordFindEmail">
	<div class="g-container">
		<div class="small-containerCover">
			<div class="container">
				<h1 class="g-pageTitle">find password</h1>
				@await Html.PartialAsync("~/Views/Shared/_Auth.cshtml", viewData: new ViewDataDictionary(ViewData) { ["purposeCode"] = "0002" })
				<button type="button" class="g-btn pageLastBtn" id="btnResetPassword">다음</button>
			</div>
		</div>
	</div>
</div>