@{
	string? memberEmail = ViewData["memberEmail"] as string;
	string? authSendKey = ViewData["authSendKey"] as string;
	string? authCheckKey = ViewData["authCheckKey"] as string;
}
<div id="passwordReset">
	<div class="g-container">
		<div class="small-containerCover">
			<div class="container">
				<h1 class="g-pageTitle">find password</h1>
				<div class="g-input-box g-input-mb">
					<label for="newPassword">새 비밀번호</label>
					<input type="password" name="newPassword" id="newPassword" placeholder="새 비밀번호 입력" maxlength="20" required />
				</div>
				<div class="g-input-box g-input-mb">
					<label for="newCheckPassword">새 비밀번호 확인</label>
					<input type="password" name="newCheckPassword" id="newCheckPassword" placeholder="새 비밀번호 확인 입력" maxlength="20" required />
				</div>
				<button type="button" class="g-btn pageLastBtn" id="btnEditPassword">확인</button>
			</div>
		</div>
	</div>
</div>
<input type="hidden" name="memberEmail" id="memberEmail" value="@memberEmail" />
<input type="hidden" name="authSendKey" id="authSendKey" value="@authSendKey" />
<input type="hidden" name="authCheckKey" id="authCheckKey" value="@authCheckKey" />
<script type="text/javascript">
	$("#newPassword").focus();
</script>