@model BRILLIANT_NFT_MARKET_FRONT.Models.Member_Dto
<div id="joinComplete">
	<div class="g-container">
		<div class="small-containerCover">
			<div class="container">
				<h1 class="g-pageTitle">join</h1>
				<p>축하합니다!</p>
				<p>회원가입이 완료되었습니다.</p>
				<div class="d-flex">
					<div>ID :</div>
					<div class="copyThis">@Model.MEMBER_ID</div>
					<button type="button" class="g-icon-btn btnCopy">
						<span class="material-icons-outlined">content_copy</span>
					</button>
				</div>
				<button type="button" class="g-btn btnHome">홈</button>
			</div>
		</div>
	</div>
</div>