<div id="deleteAccountComplete">
	<div class="g-container">
		<div class="small-containerCover">
			<div class="container">
				<h1 class="g-pageTitle">delete account</h1>
				<p>회원탈퇴가 완료되었습니다.</p>
				<button type="button" class="g-btn btnHome">홈</button>
			</div>
		</div>
	</div>
</div>