@import "mixins";

// 풀 페이지 그리드의 경우 사용_메인 상세
.container {
	max-width: 100%;
	padding-left: 16px;
	padding-right: 16px;

	@include tablet_S {
		padding-left: 24px;
		padding-right: 24px;
	}

	@include tablet_B {
		padding-left: 72px;
		padding-right: 72px;
	}

	@include desktop_S {
		padding-left: 50px;
		padding-right: 50px;
	}

	@include desktop_B {
		max-width: 1180px;
		padding-left: 0;
		padding-right: 0;
	}
}

// 제일 작은 그리드의 경우 사용_회원가입 / 회원가입 완료 / 비밀번호 찾기 ...
.small-containerCover {
	.container {
		@include tablet_S {
			max-width: 58rem;
			padding-left: 0;
			padding-right: 0;
		}
	}
}

// 중간 사이즈의 그리드의 경우 사용_공지 / faq ...
.medium-containerCover {
	.container {
		@include tablet_S {
			padding-left: 50px;
			padding-right: 50px;
		}

		@include desktop_S {
			max-width: 98rem;
			padding-left: 0;
			padding-right: 0;
		}
	}
}

.pl-pr-none {
	padding-left: 0 !important;
	padding-right: 0 !important;
}

.pl-none {
	padding-left: 0 !important;
}

.pr-none {
	padding-right: 0 !important;
}
