<div id="termsOfService">
	<div class="g-container">
		<div class="medium-containerCover">
			<div class="container">
				<div class="g-infoBox">
					@await Html.PartialAsync("~/Views/Shared/_PolicyMenu.cshtml")
					<div>
						<div class="g-tab-container">
							<div class="tab-content active">
								<div class="textBox">
									@await Html.PartialAsync("~/Views/Shared/_TermsOfUse.cshtml")
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>