<div class="container">
	<div class="company-info">
		<h4>Brilliant Labs</h4>
		<ul>
			<li><span class="title">상호 :</span><span>(주)브릴리언트랩스</span></li>
			<li><span class="title">대표자 :</span><span>유재학</span></li>
			<li><span class="title">개인정보책임자 :</span><span>유재학</span></li>
			<li><span class="title">이메일 :</span><span>contact@b-rilliant.com</span></li>
			<li><span class="title">주소 :</span><span>서울특별시 관악구 청림3가길 13-2 2층</span></li>
			<li><span class="title">입금정보 :</span><span>기업은행 / 주식회사 브릴리언트랩스 061 113439 04 013</span></li>
			<li><span class="title">사업자등록번호 :</span><span>757-87-02920</span></li>
			<li><span class="title">통신판매신고번호 :</span><span>제 2023-서울관악-1929호</span></li>
		</ul>
		<div class="d-flex">
			<div class="text-link">
				<a href="/Publishing/Views/auth/terms_of_service.html">이용약관</a>
				<a href="/Publishing/Views/auth/terms_of_service.html">개인정보처리방침</a>
			</div>
			<div class="icon-link">
				<button type="button" class="g-icon-btn inside-img" onclick="location.href=''">
					<img src="/images/icon-youtube.png" alt="youtube icon" />
				</button>
				<button type="button" class="g-icon-btn inside-img" onclick="location.href=''">
					<img src="/images/icon-instagram.png" alt="instagram icon" />
				</button>
			</div>
		</div>
	</div>
	<img class="logo" src="/images/logo.png" alt="logo image" />
	<div class="copyright">Copyright ⓒ 2023 Brilliant Labs.</div>
</div>
