<meta name="robots" content="index,follow,noodp" />
<meta name="googlebot" content="index,follow" />
<meta name="google" value="notranslate" />
<meta name="application-name" content="Brilliant" />
<meta name="apple-mobile-web-app-title" content="Brilliant" />

<link rel="stylesheet" type="text/css" href="/wwwroot/lib/bootstrap/dist/css/bootstrap-reboot.min.css" />
<link rel="stylesheet" type="text/css" href="/wwwroot/lib/bootstrap/dist/css/bootstrap-grid.min.css" />
<link rel="stylesheet" type="text/css" href="/wwwroot/lib/bootstrap/dist/css/bootstrap.min.css" />
<link rel="stylesheet" type="text/css" href="/wwwroot/css/site.min.css" />
<link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200" />

<script src="/wwwroot/lib/bootstrap/dist/js/bootstrap.min.js"></script>
<script src="/wwwroot/js/publishing/site.js"></script>

<link rel="shortcut icon" href="/wwwroot/favicon.ico" />

<title>Brilliant</title>

<!-- 페이지로딩 노출: <div class="pageLoaging-bg"> -->
<div class="pageLoaging-bg hide">
	<div class="spinner"></div>
</div>

<!-- head 전체 -->
<!-- <meta name="robots" content="index,follow,noodp" />
<meta name="googlebot" content="index,follow" />
<meta name="google" value="notranslate" />
<meta name="application-name" content="Brilliant" />
<meta name="apple-mobile-web-app-title" content="Brilliant" />

<link rel="stylesheet" type="text/css" href="/wwwroot/lib/jquery-ui/dist/css/jquery-ui.min.css" />
<link rel="stylesheet" type="text/css" href="/wwwroot/lib/bootstrap/dist/css/bootstrap-reboot.min.css" />
<link rel="stylesheet" type="text/css" href="/wwwroot/lib/bootstrap/dist/css/bootstrap-grid.min.css" />
<link rel="stylesheet" type="text/css" href="/wwwroot/lib/bootstrap/dist/css/bootstrap.min.css" />
<link rel="stylesheet" type="text/css" href="/wwwroot/lib/bootstrap-select/dist/css/bootstrap-select.min.css" />
<link rel="stylesheet" type="text/css" href="/wwwroot/lib/swiper/dist/css/swiper.min.css" />
<link rel="stylesheet" type="text/css" href="/wwwroot/css/site.min.css" />

<script src="/wwwroot/lib/jquery/dist/jquery.min.js"></script>
<script src="/wwwroot/lib/swiper/dist/js/swiper.min.js"></script>
<script src="/wwwroot/lib/jquery-ui/dist/js/jquery-ui.min.js"></script>
<script src="/wwwroot/lib/bootstrap/dist/js/popper.min.js"></script>
<script src="/wwwroot/lib/bootstrap/dist/js/bootstrap.min.js"></script>
<script src="/wwwroot/lib/bootstrap-select/dist/js/bootstrap-select.min.js"></script>
<script src="/wwwroot/lib/jquery-ui/dist/js/datepicker-ko.js"></script>
<script src="/wwwroot/lib/jquery-ui/dist/js/date-ko-KR.js"></script>
<script src="/wwwroot/js/publishing/site.js"></script>
 -->
